<html>
  <%- include partial/head %>
  <body>
    <%- include partial/menu %>
<!--Menu ======================================================================== Diatas-->

<div style="text-align:center;margin-top:100px"class="container">

  <form class="form-horizontal" action="/student/edit/<%= data[0].id %>" method="post">
    <input type="text" name="first_name" class="form-control" value="<%= data[0].first_name %>"><br>
    <input type="text" name="last_name" class="form-control" value="<%= data[0].last_name %>"><br>
    <input type="text" name="email" class="form-control" value="<%= data[0].email %>"><br>

    <br><button type="submit" name="submit">SIMPAN</button>
  </form>
</div>
</body>
</html>
