<html>
  <%- include partial/head %>
  <body>
    <%- include partial/menu %>
<!--Menu ======================================================================== Diatas-->
<div style="text-align:center;margin-top:50px"class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th style="text-align:center">id</th>
        <th style="text-align:center">Subject Name</th>
        <th style="text-align:center">Teacher Name</th>
      </tr>
    </thead>
    <tbody>

        <%dataSubjects.forEach((dataSubjects)=>{%>
          <tr> <!--ini harus didalam forEachnya-->
            <td><%=dataSubjects.id%></td>
            <td><%=dataSubjects.subject_name%></td>
            <%let count = 1%>
            <td>
              <%dataSubjects.Teachers.forEach((dataSubjects)=>{%>
                <p><%=`${count} ${dataSubjects.first_name} ${dataSubjects.last_name}`%></p>
                <%count++%>
                <%})%>
            </td>
            <td><a href="/subject/<%= dataSubjects.id %>/enrolledstudents">Enroll Student</a></td>
          </tr>
        <%})%>

    </tbody>
  </table>
</div>

<div style="text-align:center;margin-top:50px"class="container">
  <!-- <form class="form-horizontal" action="/contacts" method="post">
    <input type="text" name="name" class="form-control" placeholder="Nama"><br>
    <input type="text" name="company" class="form-control" placeholder="Company"><br>
    <input type="text" name="telp_number" class="form-control" placeholder="No Telepon"><br>
    <input type="text" name="email" class="form-control" placeholder="Email">
    <br><button type="submit" name="submit">SIMPAN</button>
  </form> -->
</div>
</body>
</html>
